GO
CREATE FUNCTION [dbo].[calGrandTotal]
(@OrderID INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @GrandTotal DECIMAL(10,2);

    SELECT @GrandTotal = (SUM(oi.Subtotal) - ISNULL(pc.Discount, 0))
    FROM OrderItem oi
    LEFT JOIN [Order] o ON oi.OrderID = o.OrderID
    LEFT JOIN PromotionCoupon pc ON o.CouponCode = pc.CouponCode
    WHERE oi.OrderID = @OrderID
	group by pc.Discount

    RETURN @GrandTotal;
END
GO
/****** Object:  UserDefinedFunction [dbo].[checkReviewEligibility]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[checkReviewEligibility]
(@Email varchar(25),
@OrderID int)
returns varchar(15)
as
begin
declare @Eligibility varchar(15), @count int;

if exists(
select *
from
ReviewRating rr, OrderStatus os
where rr.OrderID=@OrderID AND Email=@Email
AND os.OrderID=@OrderID)
begin
set @count=1
end
if not exists (select *
from
ReviewRating rr, OrderStatus os
where rr.OrderID=@OrderID AND Email=@Email
AND os.OrderID=@OrderID) AND exists (Select * from OrderStatus os, StatusOfOrder so where OrderID=@OrderID AND os.StatusID=so.StatusID and StatusName='Pending')
begin
set @count=1
end
if not exists (select *
from
ReviewRating rr, OrderStatus os
where rr.OrderID=@OrderID AND Email=@Email
AND os.OrderID=@OrderID) and not exists  (Select * from OrderStatus os, StatusOfOrder so where OrderID=@OrderID AND os.StatusID=so.StatusID and StatusName='Pending')
begin
set @count=0
end

if @count > 0
set @Eligibility='Not Eligible'
else
set @Eligibility='Eligible'
return @Eligibility
end
GO
/****** Object:  UserDefinedFunction [dbo].[getLastOrder]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getLastOrder]()
returns int
as
begin
declare @OrderID int;
select top(1) @OrderID=OrderID from [Order]
order by OrderID desc
return @OrderID
end
GO
/****** Object:  UserDefinedFunction [dbo].[getRestaurantID]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getRestaurantID]
(@RName varchar(50), @RAdd varchar(50))
returns int
as
begin
declare @RID int;
select @RID=RestaurantID from Restaurant
where Name=@RName AND Address=@RAdd
return @RID
end
GO
/****** Object:  UserDefinedFunction [dbo].[getRestaurantRating]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getRestaurantRating]
(@ResName varchar(25), @RAddress varchar(50))
returns decimal(2,1)
as
begin
declare @Rating decimal(2,1)
Select @Rating=avg(rr.Rating) from Restaurant r, ReviewRating rr
where r.RestaurantID=(Select RestaurantID from Restaurant where Name=@ResName AND Address=@RAddress)
RETURN ISNULL(@Rating, 0.0); -- Return the computed average rating, or 0.0 if no rating found
end
GO
/****** Object:  UserDefinedFunction [dbo].[getUserAddress]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getUserAddress]
(@Email varchar(25))
returns varchar(50)
as
begin
declare @Address varchar(50)
select @Address=Address from Address a, UserAddress ua
where a.AddressID=ua.AddressID and ua.isDefault=1
return @Address
end
GO
/****** Object:  UserDefinedFunction [dbo].[loginRider]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[loginRider]
(@Email VARCHAR(25), @Password VARCHAR(25))
RETURNS VARCHAR(10)
AS
BEGIN
    DECLARE @userCount INT, @Result VARCHAR(10);

    SELECT @userCount = COUNT(*)
    FROM Employee
    WHERE Email = @Email AND Password = @Password AND Role='Rider';

    -- Return 'Success' if a matching user is found, otherwise 'Fail'
    IF @userCount > 0
        SET @Result = 'Success';
    ELSE
        SET @Result = 'Fail';

    RETURN @Result;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[loginUser]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[loginUser]
(@Email VARCHAR(25), @Password VARCHAR(25))
RETURNS VARCHAR(10)
AS
BEGIN
    DECLARE @userCount INT, @Result VARCHAR(10);

    SELECT @userCount = COUNT(*)
    FROM [User]
    WHERE Email = @Email AND Password = @Password;

    -- Return 'Success' if a matching user is found, otherwise 'Fail'
    IF @userCount > 0
        SET @Result = 'Success';
    ELSE
        SET @Result = 'Fail';

    RETURN @Result;
END;
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[FirstName] [varchar](25) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[Email] [varchar](25) NOT NULL,
	[Phone] [varchar](25) NOT NULL,
	[Role] [varchar](25) NOT NULL,
	[HireDate] [date] NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[VehicleID] [int] NULL,
	[Password] [varchar](25) NULL,
 CONSTRAINT [pk_eID] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getRiderDetail]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getRiderDetail]
(@Email varchar(25),@Password varchar(25))
returns table
as
return
(Select * from Employee
where Email=@Email AND Password=@Password
AND Role='Rider')
GO
/****** Object:  Table [dbo].[GrandTotal]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrandTotal](
	[OrderID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_gtOID] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[CouponCode] [varchar](25) NULL,
 CONSTRAINT [pk_orderID] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[OrderID] [int] NOT NULL,
	[Email] [varchar](25) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[RiderEmail] [varchar](25) NOT NULL,
	[AddressID] [int] NULL,
 CONSTRAINT [pk_oURID] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [pk_osID] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOfOrder]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOfOrder](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](25) NOT NULL,
 CONSTRAINT [pk_sID] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[riderOrders]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[riderOrders]
(@RiderEmail varchar(25))
returns table
as
return
SELECT  oi.OrderID, gt.TotalAmount, o.OrderDate, StatusName
FROM Employee e
 JOIN OrderInfo oi ON e.Email = oi.RiderEmail JOIN OrderStatus os ON oi.OrderID = os.OrderID
 JOIN StatusOfOrder so ON so.StatusID = os.StatusID JOIN GrandTotal gt on oi.OrderID=gt.OrderID
 JOIN [Order] o on oi.OrderID=o.OrderID
WHERE e.Role = 'Rider'
AND RiderEmail=@RiderEmail
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Name] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Email] [varchar](25) NOT NULL,
	[PhoneNo] [varchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[RegistrationDate] [date] NOT NULL,
 CONSTRAINT [pk_uE] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [pk_aID] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[Email] [varchar](25) NOT NULL,
	[AddressID] [int] NOT NULL,
	[isDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItem]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
	[Description] [varchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_mID] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[MenuItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_oIID] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(5023,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PaymentMethod] [varchar](25) NOT NULL,
 CONSTRAINT [pk_pID] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionCoupon]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionCoupon](
	[CouponCode] [varchar](25) NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
 CONSTRAINT [pk_pCID] PRIMARY KEY CLUSTERED 
(
	[CouponCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](25) NOT NULL,
	[ContactInformation] [varchar](25) NOT NULL,
	[OpeningTime] [time](7) NOT NULL,
	[ClosingTime] [time](7) NOT NULL,
 CONSTRAINT [pk_resID] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleType] [varchar](20) NOT NULL,
	[LicensePlate] [varchar](7) NOT NULL,
	[Model] [varchar](4) NOT NULL,
 CONSTRAINT [pk_vID] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getRiderOrderInfo]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getRiderOrderInfo]
(@OrderID int)
returns table
as
return
(select (u.Name)'CustomerName', u.PhoneNo,a.Address'DeliveryAddress', r.Name as 'RestaurantName',
r.Address'RestaurantAddress', o.OrderID, m.Name as 'Menu Item', m.Price'ItemPrice',pc.CouponCode,pc.Discount, oi.Quantity,oi.Subtotal'ItemSubTotal',
gt.TotalAmount-Discount'OrderSubTotal', p.PaymentMethod, (gt.TotalAmount)'Total'
from MenuItem m, OrderItem oi, OrderInfo oin, [Order] o,
Restaurant r, UserAddress ua, Address a, Employee e, Vehicle v, PromotionCoupon pc, GrandTotal gt, Payment p,
[User] u
where
r.RestaurantID=oin.RestaurantID
AND p.OrderID=@OrderID
AND ua.Email=oin.Email
AND m.ItemID=oi.MenuItemID
and e.Email=oin.RiderEmail
and e.VehicleID=v.VehicleID
and pc.CouponCode=o.CouponCode
and o.OrderID=@OrderID
and oi.OrderID=@OrderID
and gt.OrderID=@OrderID
AND oin.OrderID=@OrderID
AND oin.Email=u.Email
AND oin.AddressID=a.AddressID
and o.OrderDate<=getdate())
GO
/****** Object:  Table [dbo].[UserCoupon]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCoupon](
	[Email] [varchar](25) NOT NULL,
	[CouponCode] [varchar](25) NOT NULL,
 CONSTRAINT [pk_emailcoupon] PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[CouponCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[userCoupons]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[userCoupons]
(@uEmail varchar(25))
returns table
as
return
(SELECT pc.*
FROM PromotionCoupon pc
LEFT JOIN UserCoupon uc ON pc.CouponCode = uc.CouponCode
WHERE uc.CouponCode IS NULL OR uc.Email <> @uEmail
AND ExpiryDate<=getdate())
GO
/****** Object:  UserDefinedFunction [dbo].[getuserCoupons]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getuserCoupons]
(@uEmail varchar(25))
returns table
as
return
(SELECT pc.*
FROM PromotionCoupon pc
LEFT JOIN UserCoupon uc ON pc.CouponCode = uc.CouponCode
WHERE (uc.CouponCode IS NULL OR uc.Email <> @uEmail)
AND ExpiryDate>=getdate())
GO
/****** Object:  UserDefinedFunction [dbo].[getUserDetail]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[getUserDetail]
(@Email varchar(25),@Password varchar(25))
returns table
as
return
(Select * from [User]
where Email=@Email AND Password=@Password)
GO
/****** Object:  UserDefinedFunction [dbo].[getUserAddressNotDefault]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getUserAddressNotDefault]
(@Email varchar(25))
returns table
as
return
(select Address from Address a, UserAddress ua
where a.AddressID=ua.AddressID and ua.isDefault=0 AND Email=@Email)
GO
/****** Object:  Table [dbo].[ResItem]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResItem](
	[ItemID] [int] NOT NULL,
	[RestaurantID] [int] NOT NULL,
 CONSTRAINT [pk_itResID] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[nextRestaurantItem]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[nextRestaurantItem]
(@MName varchar(25), @ResName varchar(25),@RAddress varchar(50))
returns table
as
return
(select Top(3) m.Name, m.Description, m.Price
from MenuItem m, Restaurant r, ResItem ri
where ri.RestaurantID=r.RestaurantID
AND r.[Name]=@ResName
AND m.ItemID=ri.ItemID
AND r.[Address]=@RAddress
AND m.ItemID>(Select ItemID from MenuItem where Name=@MName))
GO
/****** Object:  UserDefinedFunction [dbo].[prevRestaurantItem]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[prevRestaurantItem]
(@MName varchar(25), @ResName varchar(25),@RAddress varchar(50))
returns table
as
return
(select Top(3) m.Name, m.Description, m.Price
from MenuItem m, Restaurant r, ResItem ri
where ri.RestaurantID=r.RestaurantID
AND r.[Name]=@ResName
AND m.ItemID=ri.ItemID
AND r.[Address]=@RAddress
AND m.ItemID<(Select ItemID from MenuItem where Name=@MName))
GO
/****** Object:  UserDefinedFunction [dbo].[getUserOrderInfo]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getUserOrderInfo]
(@OrderID int)
returns table
as
return
(select (e.FirstName+' '+e.LastName)'RiderName', v.LicensePlate, e.Phone, r.Name as 'RestaurantName',
r.Address'RestaurantAddress', o.OrderID, a.Address'DeliveryAddress', m.Name as 'Menu Item', m.Price'ItemPrice',pc.CouponCode,pc.Discount, oi.Quantity,oi.Subtotal'ItemSubTotal',
gt.TotalAmount-Discount'OrderSubTotal', p.PaymentMethod, (gt.TotalAmount)'Total'
from MenuItem m, OrderItem oi, OrderInfo oin, [Order] o,
Restaurant r, UserAddress ua, Address a, Employee e, Vehicle v, PromotionCoupon pc, GrandTotal gt, Payment p
where
r.RestaurantID=oin.RestaurantID
AND p.OrderID=1
AND ua.Email=oin.Email
AND m.ItemID=oi.MenuItemID
and e.Email=oin.RiderEmail
and e.VehicleID=v.VehicleID
and pc.CouponCode=o.CouponCode
and o.OrderID=@OrderID
and oi.OrderID=@OrderID
and gt.OrderID=@OrderID
AND oin.OrderID=@OrderID
and o.OrderDate<=getdate()
AND oin.AddressID=a.AddressID
)
GO
/****** Object:  UserDefinedFunction [dbo].[showUserOrders]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[showUserOrders]
(@Email varchar(25))
returns table
as
return
(select distinct o.OrderID, o.Orderdate, gt.TotalAmount
from [Order] o, GrandTotal gt, [User] u,
OrderInfo oi
where
oi.OrderID=o.OrderID
AND gt.OrderID=o.OrderID
AND oi.Email=@Email
)
GO
/****** Object:  View [dbo].[getAvailableCities]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[getAvailableCities]
as
Select distinct City from Restaurant R
GO
/****** Object:  Table [dbo].[ReviewRating]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewRating](
	[ReviewID] [int] IDENTITY(200,1) NOT NULL,
	[Email] [varchar](25) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [varchar](75) NULL,
	[RevDate] [date] NOT NULL,
 CONSTRAINT [pk_revID] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewUserReviews]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[viewUserReviews]
as
select rr.RevDate, u.Name'CustomerName', r.Name'RestaurantName', rr.Comment,rr.Rating
from ReviewRating rr, Restaurant r, [User] u
where u.email=rr.email
AND r.RestaurantID=rr.RestaurantID
GO
/****** Object:  UserDefinedFunction [dbo].[RestaurantReview]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[RestaurantReview]
(@RName varchar(50))
returns table
as
return
(Select rr.Rating, rr.Comment, rr.RevDate, u.Name
from ReviewRating rr, [User] u, Restaurant r
where u.Email=rr.Email
AND r.RestaurantID=rr.RestaurantID
AND r.Name=@RName)
GO
/****** Object:  UserDefinedFunction [dbo].[getRestaurantByName]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getRestaurantByName]
(
    @RName varchar(25)
)
RETURNS TABLE
AS
RETURN
(
    SELECT TOP(3) Name, Address 
    FROM Restaurant
    WHERE Name LIKE '%'+ @RName + '%'
)
GO
/****** Object:  UserDefinedFunction [dbo].[nextRestaurantByName]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[nextRestaurantByName]
(@RName varchar(50),@RsName varchar(50),@RAdd varchar(50) )
returns table
as
return
(Select Top(3) Name, Address from Restaurant
where Name LIKE '%'+ @RName + '%' and RestaurantID>(Select RestaurantID from Restaurant 
where name=@RsName and Address=@RAdd))
GO
/****** Object:  UserDefinedFunction [dbo].[getRestaurantMenu]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getRestaurantMenu]
(@ResName varchar(50),@RAddress varchar(50))
returns table
as
return
(select Top(3) m.Name, m.Description, m.Price
from MenuItem m, Restaurant r, ResItem ri
where ri.RestaurantID=r.RestaurantID
AND r.Name=@ResName
AND r.Address=@RAddress
AND m.ItemID=ri.ItemID)
GO
/****** Object:  UserDefinedFunction [dbo].[prevRestaurantByName]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[prevRestaurantByName]
(@RName varchar(50),@RsName varchar(50),@RAdd varchar(50) )
returns table
as
return
(Select Top(3) Name, Address from Restaurant
where Name LIKE '%'+ @RName + '%' and RestaurantID<(Select RestaurantID from Restaurant 
where name=@RsName and Address=@RAdd))
GO
/****** Object:  UserDefinedFunction [dbo].[getnextRestaurantMenu]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getnextRestaurantMenu]
(@MName varchar(50), @ResName varchar(50),@RAddress varchar(50))
returns table
as
return
(select Top(3) m.Name, m.Description, m.Price
from MenuItem m, Restaurant r, ResItem ri
where ri.RestaurantID=r.RestaurantID
AND r.Name=@ResName
AND r.Address=@RAddress
AND ri.ItemID=m.ItemID
AND m.ItemID>(Select ItemID from MenuItem where Name=@MName))
GO
/****** Object:  UserDefinedFunction [dbo].[getprevRestaurantMenu]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getprevRestaurantMenu]
(@MName varchar(50), @ResName varchar(50),@RAddress varchar(50))
returns table
as
return
(select Top(3) m.Name, m.Description, m.Price
from MenuItem m, Restaurant r, ResItem ri
where ri.RestaurantID=r.RestaurantID
AND r.Name=@ResName
AND r.Address=@RAddress
AND ri.ItemID=m.ItemID
AND m.ItemID<(Select ItemID from MenuItem where Name=@MName))
GO
/****** Object:  UserDefinedFunction [dbo].[searchItem]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[searchItem]
(@ResName varchar(25), @RAddress varchar(50),@Desc varchar(25))
returns table
as
return
(Select distinct Top(3) m.Name, m.Description, m.Price
from MenuItem m, Restaurant r, ResItem ri
where ri.RestaurantID=r.RestaurantID
AND r.[Name]=@ResName
AND m.ItemID=ri.ItemID
AND r.[Address]=@RAddress
AND (m.Description like '%'+@Desc+'%' 
OR m.Description like (@Desc+'%') OR m.Description like ('%'+@Desc) 
OR m.Description like @Desc)
)
GO
/****** Object:  View [dbo].[getRestaurants]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[getRestaurants]
as
Select top(3) Name, Address
from Restaurant
GO
/****** Object:  UserDefinedFunction [dbo].[nextRestaurants]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[nextRestaurants]
(@RestaurantName varchar(50), @RAddr varchar(50))
returns table
as
return
(Select Top(3) Name, Address from Restaurant
where RestaurantID>(Select RestaurantID from Restaurant
where Name=@RestaurantName AND Address=@RAddr))
GO
/****** Object:  UserDefinedFunction [dbo].[prevRestaurants]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[prevRestaurants]
(@RestaurantName varchar(50), @RAddr varchar(50))
returns table
as
return
(Select Top(3) Name from Restaurant
where RestaurantID<(Select RestaurantID from Restaurant
where Name=@RestaurantName AND Address=@RAddr))
GO
/****** Object:  UserDefinedFunction [dbo].[searchRestaurantbyCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[searchRestaurantbyCity]
(@City varchar(25))
returns table
as
return
(Select Top(3) Name, Address from Restaurant
where City like @City)
GO
/****** Object:  UserDefinedFunction [dbo].[nextSearchRestByCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[nextSearchRestByCity] -- PASS C4
(@City varchar(25), @RName varchar(50),@RAdd varchar(50))
returns table
as
return
(Select top(3) Name, Address from Restaurant
where RestaurantID>(Select RestaurantID from Restaurant where Name=@RName AND City like @City AND Address=@RAdd)
)
GO
/****** Object:  UserDefinedFunction [dbo].[prevSearchResByCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[prevSearchResByCity]  -- PASS C1
(@City varchar(25), @RName varchar(25))
returns table
as
return
(Select top(3) Name from Restaurant
where RestaurantID<(Select RestaurantID from Restaurant where Name=@RName AND City like '@City')
)
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryType] [varchar](25) NOT NULL,
 CONSTRAINT [pk_catID] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[getCategory]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[getCategory]
as
Select Top(3) CategoryType from Category
GO
/****** Object:  UserDefinedFunction [dbo].[nextCategory]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[nextCategory]
(@CName varchar(25))
returns table
as
return
(Select Top(3) CategoryType from Category
where CategoryID>(Select CategoryID from Category where CategoryType=@CName)
)
GO
/****** Object:  Table [dbo].[ResCat]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResCat](
	[RestaurantID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [pk_rescat] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getRestByCatCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getRestByCatCity]
(@City varchar(25), @CName varchar(25))
returns table
as
return
(Select Top(3) Name, Address from Restaurant r, ResCat rc, Category C
where r.RestaurantID=rc.RestaurantID
AND rc.CategoryID=c.CategoryID
AND r.City=@City AND CategoryType=@CName)
GO
/****** Object:  UserDefinedFunction [dbo].[getNextResByCatCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getNextResByCatCity]
(@City varchar(25),@CName varchar(25), @RName varchar(50), @RAdd varchar(50))
returns table
as
return
(Select Top(3) Name, Address from Restaurant r, ResCat rc, Category C
where r.RestaurantID=rc.RestaurantID
AND rc.CategoryID=c.CategoryID
AND r.RestaurantID>(Select RestaurantID from Restaurant
where Name=@RName AND Address=@RAdd)
AND r.City=@City AND CategoryType=@CName)
GO
/****** Object:  UserDefinedFunction [dbo].[prevSearchRestByCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[prevSearchRestByCity] -- PASS C4
(@City varchar(25), @RName varchar(50),@RAdd varchar(50))
returns table
as
return
(Select top(3) Name, Address from Restaurant
where RestaurantID<(Select RestaurantID from Restaurant where Name=@RName AND City like @City AND Address=@RAdd)
)
GO
/****** Object:  View [dbo].[TopPicks]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TopPicks]
as
Select Top(3) r.Name, r.Address, avg(Rating)'Rating' from Restaurant r, ReviewRating rr
where r.RestaurantID=rr.RestaurantID
group by rr.RestaurantID,r.Name, r.Address
order by avg(Rating)
GO
/****** Object:  UserDefinedFunction [dbo].[prevNextResByCatCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[prevNextResByCatCity]
(@City varchar(25),@CName varchar(25), @RName varchar(50), @RAdd varchar(50))
returns table
as
return
(Select Top(3) Name, Address from Restaurant r, ResCat rc, Category C
where r.RestaurantID=rc.RestaurantID
AND rc.CategoryID=c.CategoryID
AND r.RestaurantID<(Select RestaurantID from Restaurant
where Name=@RName AND Address=@RAdd)
AND r.City=@City AND CategoryType=@CName)
GO
/****** Object:  UserDefinedFunction [dbo].[getPrevNextResByCatCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getPrevNextResByCatCity]
(@City varchar(25),@CName varchar(25), @RName varchar(50), @RAdd varchar(50))
returns table
as
return
(Select Top(3) Name, Address from Restaurant r, ResCat rc, Category C
where r.RestaurantID=rc.RestaurantID
AND rc.CategoryID=c.CategoryID
AND r.RestaurantID<(Select RestaurantID from Restaurant
where Name=@RName AND Address=@RAdd)
AND r.City=@City AND CategoryType=@CName)
GO
/****** Object:  UserDefinedFunction [dbo].[getPrevResByCatCity]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getPrevResByCatCity]
(@City varchar(25),@CName varchar(25), @RName varchar(50), @RAdd varchar(50))
returns table
as
return
(Select Top(3) Name, Address from Restaurant r, ResCat rc, Category C
where r.RestaurantID=rc.RestaurantID
AND rc.CategoryID=c.CategoryID
AND r.RestaurantID<(Select RestaurantID from Restaurant
where Name=@RName AND Address=@RAdd)
AND r.City=@City AND CategoryType=@CName)
GO
/****** Object:  UserDefinedFunction [dbo].[prevCategory]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[prevCategory]
(@CName varchar(25))
returns table
as
return
(Select Top(3) CategoryType from Category
where CategoryID<(Select CategoryID from Category where CategoryType=@CName)
)
GO
/****** Object:  View [dbo].[RidersOnDelivery]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[RidersOnDelivery]
as
SELECT oi.RiderEmail
FROM Employee e
LEFT JOIN OrderInfo oi ON e.Email = oi.RiderEmail JOIN OrderStatus os ON oi.OrderID = os.OrderID
LEFT JOIN StatusOfOrder so ON so.StatusID = os.StatusID
WHERE (so.StatusName IS NULL OR so.StatusName = 'Pending')
  AND e.Role = 'Rider'
GO
/****** Object:  View [dbo].[RidersAvailable]    Script Date: 1/8/2024 6:04:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[RidersAvailable]
as
select distinct e.Email as 'RiderEmail'
from Employee e, RidersOnDelivery r
where e.Role='Rider'
AND NOT e.Email=r.RiderEmail
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressID], [Address]) VALUES (1, N'Street 7 Block H North Nazimabad')
INSERT [dbo].[Address] ([AddressID], [Address]) VALUES (19, N'House 16 DHA Phase 2')
INSERT [dbo].[Address] ([AddressID], [Address]) VALUES (20, N'Street14 Clifton Block 5')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryType]) VALUES (1, N'Fastfood')
INSERT [dbo].[Category] ([CategoryID], [CategoryType]) VALUES (2, N'Bistro')
INSERT [dbo].[Category] ([CategoryID], [CategoryType]) VALUES (3, N'Fried Rice')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Employee] ([FirstName], [LastName], [Email], [Phone], [Role], [HireDate], [Salary], [VehicleID], [Password]) VALUES (N'Ameer', N'Hamza', N'ah1@gmail.com', N'3013300309', N'Rider', CAST(N'2021-05-24' AS Date), CAST(19000.00 AS Decimal(10, 2)), 1, N'abc')
INSERT [dbo].[Employee] ([FirstName], [LastName], [Email], [Phone], [Role], [HireDate], [Salary], [VehicleID], [Password]) VALUES (N'Affan', N'Shakir', N'as1@gmail.com', N'3460007772', N'Rider', CAST(N'2021-01-20' AS Date), CAST(19000.00 AS Decimal(10, 2)), 2, N'abc')
INSERT [dbo].[Employee] ([FirstName], [LastName], [Email], [Phone], [Role], [HireDate], [Salary], [VehicleID], [Password]) VALUES (N'Ameen', N'Shehbaz', N'as2@gmail.com', N'03002223334', N'Manager', CAST(N'2020-06-30' AS Date), CAST(25000.00 AS Decimal(10, 2)), NULL, N'abc')
GO
INSERT [dbo].[GrandTotal] ([OrderID], [TotalAmount]) VALUES (1, CAST(1128.00 AS Decimal(10, 2)))
INSERT [dbo].[GrandTotal] ([OrderID], [TotalAmount]) VALUES (2, CAST(398.23 AS Decimal(10, 2)))
INSERT [dbo].[GrandTotal] ([OrderID], [TotalAmount]) VALUES (17, CAST(380.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[MenuItem] ON 

INSERT [dbo].[MenuItem] ([ItemID], [Name], [Description], [Price]) VALUES (4, N'Belgian Chocolate Shake', N'Creamy Chocolate Shake', CAST(664.00 AS Decimal(10, 2)))
INSERT [dbo].[MenuItem] ([ItemID], [Name], [Description], [Price]) VALUES (5, N'Choco Sprinkle', N'Chocolate Donut', CAST(204.00 AS Decimal(10, 2)))
INSERT [dbo].[MenuItem] ([ItemID], [Name], [Description], [Price]) VALUES (6, N'The Majesty Burger', N'Double Crispy Chicken Patty', CAST(629.10 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MenuItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [OrderDate], [CouponCode]) VALUES (1, CAST(N'2023-12-25' AS Date), N'ASKARI30')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [CouponCode]) VALUES (2, CAST(N'2023-12-29' AS Date), N'NEWYEAR24')
INSERT [dbo].[Order] ([OrderID], [OrderDate], [CouponCode]) VALUES (3, CAST(N'2023-12-29' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderInfo] ([OrderID], [Email], [RestaurantID], [RiderEmail], [AddressID]) VALUES (1, N'za@gmail.com', 3, N'zk@fd.com', 1)
INSERT [dbo].[OrderInfo] ([OrderID], [Email], [RestaurantID], [RiderEmail], [AddressID]) VALUES (2, N'as@gmail.com', 84, N'hb@gmail.com', 22)
INSERT [dbo].[OrderInfo] ([OrderID], [Email], [RestaurantID], [RiderEmail], [AddressID]) VALUES (3, N'as@gmail.com', 85, N'hb@gmail.com', 22)
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [MenuItemID], [Quantity], [Subtotal]) VALUES (1, 1, 6, 1, CAST(629.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [MenuItemID], [Quantity], [Subtotal]) VALUES (2, 1, 7, 1, CAST(499.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [MenuItemID], [Quantity], [Subtotal]) VALUES (3, 2, 68, 1, CAST(398.23 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
INSERT [dbo].[OrderStatus] ([OrderID], [StatusID]) VALUES (1, 2)
INSERT [dbo].[OrderStatus] ([OrderID], [StatusID]) VALUES (2, 1)
INSERT [dbo].[OrderStatus] ([OrderID], [StatusID]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Amount], [PaymentDate], [PaymentMethod]) VALUES (5023, 1, CAST(1128.00 AS Decimal(10, 2)), CAST(N'2023-12-25' AS Date), N'Cash')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Amount], [PaymentDate], [PaymentMethod]) VALUES (5024, 21, CAST(450.00 AS Decimal(10, 2)), CAST(N'2024-01-07' AS Date), N'Cash')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Amount], [PaymentDate], [PaymentMethod]) VALUES (5025, 22, CAST(450.00 AS Decimal(10, 2)), CAST(N'2024-01-07' AS Date), N'Cash')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
INSERT [dbo].[PromotionCoupon] ([CouponCode], [Discount], [ExpiryDate]) VALUES (N'ASKARI30', CAST(300.00 AS Decimal(5, 2)), CAST(N'2024-01-15' AS Date))
INSERT [dbo].[PromotionCoupon] ([CouponCode], [Discount], [ExpiryDate]) VALUES (N'NEWYEAR24', CAST(240.00 AS Decimal(5, 2)), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[PromotionCoupon] ([CouponCode], [Discount], [ExpiryDate]) VALUES (N'PEHLAORDER', CAST(250.00 AS Decimal(5, 2)), CAST(N'2024-12-12' AS Date))
GO
INSERT [dbo].[ResCat] ([RestaurantID], [CategoryID]) VALUES (3, 1)
INSERT [dbo].[ResCat] ([RestaurantID], [CategoryID]) VALUES (4, 2)
INSERT [dbo].[ResCat] ([RestaurantID], [CategoryID]) VALUES (5, 1)
GO
INSERT [dbo].[ResItem] ([ItemID], [RestaurantID]) VALUES (4, 3)
INSERT [dbo].[ResItem] ([ItemID], [RestaurantID]) VALUES (5, 3)
INSERT [dbo].[ResItem] ([ItemID], [RestaurantID]) VALUES (6, 1)
GO
SET IDENTITY_INSERT [dbo].[Restaurant] ON 

INSERT [dbo].[Restaurant] ([RestaurantID], [Name], [Address], [City], [ContactInformation], [OpeningTime], [ClosingTime]) VALUES (3, N'Kababjees Fried Chicken', N'Ground Floor Komal Heaven Apartment Jauhar', N'Karachi', N'kababjees@gmail.com', CAST(N'11:00:00' AS Time), CAST(N'00:00:00' AS Time))
INSERT [dbo].[Restaurant] ([RestaurantID], [Name], [Address], [City], [ContactInformation], [OpeningTime], [ClosingTime]) VALUES (4, N'OD', N'5 Star Chowrangi, North Nazimabad', N'Karachi', N'od.customercare@gmail.com', CAST(N'10:00:00' AS Time), CAST(N'00:30:00' AS Time))
INSERT [dbo].[Restaurant] ([RestaurantID], [Name], [Address], [City], [ContactInformation], [OpeningTime], [ClosingTime]) VALUES (5, N'Kababjees Fried Chicken', N'Shop No.1, Saima Paari Tower, Hyderi', N'Karachi', N'kababjees@gmail.com', CAST(N'11:00:00' AS Time), CAST(N'00:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewRating] ON 

INSERT [dbo].[ReviewRating] ([ReviewID], [Email], [RestaurantID], [OrderID], [Rating], [Comment], [RevDate]) VALUES (201, N'za@gmail.com', 3, 1, 5, N'Good taste and timely delivery', CAST(N'2023-12-30' AS Date))
INSERT [dbo].[ReviewRating] ([ReviewID], [Email], [RestaurantID], [OrderID], [Rating], [Comment], [RevDate]) VALUES (210, N'as@gmail.com', 84, 2, 1, N'Poor', CAST(N'2024-01-04' AS Date))
SET IDENTITY_INSERT [dbo].[ReviewRating] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOfOrder] ON 

INSERT [dbo].[StatusOfOrder] ([StatusID], [StatusName]) VALUES (1, N'Pending')
INSERT [dbo].[StatusOfOrder] ([StatusID], [StatusName]) VALUES (2, N'Delivered')
SET IDENTITY_INSERT [dbo].[StatusOfOrder] OFF
GO
INSERT [dbo].[User] ([Name], [Password], [Email], [PhoneNo], [DateOfBirth], [RegistrationDate]) VALUES (N'ajay khan', N'fbad', N'a@gmail.com', N'03000000', CAST(N'2000-03-15' AS Date), CAST(N'2024-01-03' AS Date))
INSERT [dbo].[User] ([Name], [Password], [Email], [PhoneNo], [DateOfBirth], [RegistrationDate]) VALUES (N'Ahsan Ansari', N'ahsan1', N'ansari@gmail.com', N'0300400500', CAST(N'2000-09-05' AS Date), CAST(N'2024-01-08' AS Date))
INSERT [dbo].[User] ([Name], [Password], [Email], [PhoneNo], [DateOfBirth], [RegistrationDate]) VALUES (N'Arham Raza', N'ar2223', N'ar@gmail.com', N'3008562400', CAST(N'1980-07-12' AS Date), CAST(N'2023-11-22' AS Date))
GO
INSERT [dbo].[UserAddress] ([Email], [AddressID], [isDefault]) VALUES (N'a@gmail.com', 30, 1)
INSERT [dbo].[UserAddress] ([Email], [AddressID], [isDefault]) VALUES (N'ansari@gmail.com', 32, 1)
INSERT [dbo].[UserAddress] ([Email], [AddressID], [isDefault]) VALUES (N'ar@gmail.com', 27, 1)
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([VehicleID], [VehicleType], [LicensePlate], [Model]) VALUES (1, N'Bike', N'CDK-555', N'2010')
INSERT [dbo].[Vehicle] ([VehicleID], [VehicleType], [LicensePlate], [Model]) VALUES (2, N'Bike', N'ABC-222', N'2011')
INSERT [dbo].[Vehicle] ([VehicleID], [VehicleType], [LicensePlate], [Model]) VALUES (3, N'Bike', N'AAA-132', N'2013')
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [fk_vID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_vID]
GO
ALTER TABLE [dbo].[GrandTotal]  WITH CHECK ADD  CONSTRAINT [fk_gtOID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[GrandTotal] CHECK CONSTRAINT [fk_gtOID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [fk_couponCode] FOREIGN KEY([CouponCode])
REFERENCES [dbo].[PromotionCoupon] ([CouponCode])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [fk_couponCode]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [fk_oiAID] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [fk_oiAID]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [fk_oURID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [fk_oURID]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [fk_oURRID] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([RestaurantID])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [fk_oURRID]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [fk_oURUE] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [fk_oURUE]
GO
ALTER TABLE [dbo].[OrderInfo]  WITH CHECK ADD  CONSTRAINT [fk_remail] FOREIGN KEY([RiderEmail])
REFERENCES [dbo].[Employee] ([Email])
GO
ALTER TABLE [dbo].[OrderInfo] CHECK CONSTRAINT [fk_remail]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [fk_oIIID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [fk_oIIID]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [fk_oIMTID] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[MenuItem] ([ItemID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [fk_oIMTID]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [fk_osOID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [fk_osOID]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [fk_osSOS] FOREIGN KEY([StatusID])
REFERENCES [dbo].[StatusOfOrder] ([StatusID])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [fk_osSOS]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [fk_pOID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [fk_pOID]
GO
ALTER TABLE [dbo].[ResCat]  WITH CHECK ADD  CONSTRAINT [fk_catID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[ResCat] CHECK CONSTRAINT [fk_catID]
GO
ALTER TABLE [dbo].[ResCat]  WITH CHECK ADD  CONSTRAINT [fk_res] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([RestaurantID])
GO
ALTER TABLE [dbo].[ResCat] CHECK CONSTRAINT [fk_res]
GO
ALTER TABLE [dbo].[ResItem]  WITH CHECK ADD  CONSTRAINT [fk_itemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[MenuItem] ([ItemID])
GO
ALTER TABLE [dbo].[ResItem] CHECK CONSTRAINT [fk_itemID]
GO
ALTER TABLE [dbo].[ReviewRating]  WITH CHECK ADD  CONSTRAINT [fk_rrOID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[ReviewRating] CHECK CONSTRAINT [fk_rrOID]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
GO
ALTER TABLE [dbo].[UserCoupon]  WITH CHECK ADD  CONSTRAINT [fk_coupcode] FOREIGN KEY([CouponCode])
REFERENCES [dbo].[PromotionCoupon] ([CouponCode])
GO
ALTER TABLE [dbo].[UserCoupon] CHECK CONSTRAINT [fk_coupcode]
GO
ALTER TABLE [dbo].[UserCoupon]  WITH CHECK ADD  CONSTRAINT [fk_useremail] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
GO
ALTER TABLE [dbo].[UserCoupon] CHECK CONSTRAINT [fk_useremail]
GO
/****** Object:  StoredProcedure [dbo].[addUserAddress]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[addUserAddress]
@Email varchar(25),
@Address varchar(50)
as
begin
declare @AddressID int;

if NOT exists(Select * from Address where Address=@Address)
begin
Insert into Address(Address)values(@Address)
select Top 1 @AddressID=AddressID from [Address]
order by AddressID desc
end

if exists(Select * from Address where Address=@Address)
begin
select @AddressID=AddressID from Address
where Address=@Address
end

Insert into UserAddress(Email,AddressID,isDefault) values (@Email,@AddressID,0)
end
GO
/****** Object:  StoredProcedure [dbo].[addUserCoupon]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[addUserCoupon]
@Email varchar(25), @CouponCode varchar(25)
as
begin
insert into UserCoupon(Email,CouponCode) values (@Email,@CouponCode)
end
GO
/****** Object:  StoredProcedure [dbo].[confirmCartOrder]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[confirmCartOrder]
@Address varchar(50),
@RName varchar(50),
@RAddress varchar(50),
@UEmail varchar(25),
@PM varchar(25)
as
begin
declare @RiderEmail varchar(25), @OrderID int, @AddressID int, @ResID int, @GTotal decimal(10,2);

SELECT TOP 1 @OrderID=OrderID
FROM [Order]
ORDER BY OrderID DESC;

select TOP 1 @RiderEmail=RiderEmail from RidersAvailable

select @AddressID=AddressID from Address
where Address=@Address

Select @ResID=RestaurantID from Restaurant
where Name=@RName AND Address=@RAddress

insert into OrderInfo(OrderID,Email,RiderEmail,RestaurantID,AddressID)
values (@OrderID,@UEmail,@RiderEmail,@ResID,@AddressID)

select @GTotal=dbo.calGrandTotal(@OrderID)

insert into GrandTotal(OrderID,TotalAmount) values (@OrderID,@GTotal)
insert into Payment(OrderID,Amount,PaymentDate,PaymentMethod) values (@OrderID,@GTotal,getdate(),@PM)
insert into OrderStatus(OrderID,StatusID) values (@OrderID,1)
end
GO
/****** Object:  StoredProcedure [dbo].[CustomerSignUp]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CustomerSignUp]
@name varchar(25),
@email varchar(25),
@password varchar(25),
@phoneno varchar(25),
@address varchar(50),
@city varchar(25),
@dob date
as 
begin
insert into Address(Address) values (@address)
select @address=AddressID from Address where Address=@address
insert into [user](Name, Email, Password, PhoneNo, DateOfBirth, RegistrationDate) values (@name, @email, @password, @phoneno, @dob, GETDATE())
insert into UserAddress(email, AddressID, isDefault) values (@email, @address, 1)
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEmployee]
    @Email VARCHAR(25)
AS
BEGIN
    DELETE FROM Employee
    WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteGrandTotal]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteGrandTotal]
    @OrderID INT
AS
BEGIN
    DELETE FROM GrandTotal
    WHERE OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteMenuItem]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMenuItem]
    @ItemID INT
AS
BEGIN
    DELETE FROM MenuItem
    WHERE ItemID = @ItemID
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteOrder]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrder]
    @OrderID INT
AS
BEGIN
    DELETE FROM [Order]
    WHERE OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteOrderInfo]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrderInfo]
    @OrderID INT
AS
BEGIN
    DELETE FROM OrderInfo
    WHERE OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteOrderItem]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteOrderItem]
    @OrderItemID INT
AS
BEGIN
    DELETE FROM OrderItem
    WHERE OrderItemID = @OrderItemID
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePayment]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePayment]
    @PaymentID INT
AS
BEGIN
    DELETE FROM Payment
    WHERE PaymentID = @PaymentID
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePromotionCoupon]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePromotionCoupon]
    @CouponCode VARCHAR(25)
AS
BEGIN
    DELETE FROM PromotionCoupon
    WHERE CouponCode = @CouponCode
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteRestaurant]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRestaurant]
    @RestaurantID INT
AS
BEGIN
    DELETE FROM Restaurant
    WHERE RestaurantID = @RestaurantID
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteVehicle]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteVehicle]
    @VehicleID INT
AS
BEGIN
    DELETE FROM Vehicle
    WHERE VehicleID = @VehicleID
END
GO
/****** Object:  StoredProcedure [dbo].[InsertAddress]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAddress]
    @Address VARCHAR(50)
AS
BEGIN
    INSERT INTO Address (Address)
    VALUES (@Address)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEmployee]
    @FirstName VARCHAR(25),
    @LastName VARCHAR(25),
    @Email VARCHAR(25),
    @Phone VARCHAR(25),
    @Role VARCHAR(25),
    @HireDate DATE,
    @Salary DECIMAL(10, 2),
    @VehicleID INT,
    @Password VARCHAR(25)
AS
BEGIN
    INSERT INTO Employee (FirstName, LastName, Email, Phone, Role, HireDate, Salary, VehicleID, Password)
    VALUES (@FirstName, @LastName, @Email, @Phone, @Role, @HireDate, @Salary, @VehicleID, @Password)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertGrandTotal]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertGrandTotal]
    @OrderID INT,
    @TotalAmount DECIMAL(10, 2)
AS
BEGIN
    INSERT INTO GrandTotal (OrderID, TotalAmount)
    VALUES (@OrderID, @TotalAmount)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertMenuItem]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMenuItem]
    @Name VARCHAR(25),
    @Description VARCHAR(50),
    @Price DECIMAL(10, 2)
AS
BEGIN
    INSERT INTO MenuItem (Name, Description, Price)
    VALUES (@Name, @Description, @Price)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertOrder]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertOrder]
    @OrderDate DATE,
    @CouponCode VARCHAR(25)
AS
BEGIN
    INSERT INTO [Order] (OrderDate, CouponCode)
    VALUES (@OrderDate, @CouponCode)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertOrderInfo]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertOrderInfo]
    @OrderID INT,
    @Email VARCHAR(25),
    @RestaurantID INT,
    @RiderEmail VARCHAR(25),
    @AddressID INT
AS
BEGIN
    INSERT INTO OrderInfo (OrderID, Email, RestaurantID, RiderEmail, AddressID)
    VALUES (@OrderID, @Email, @RestaurantID, @RiderEmail, @AddressID)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertOrderItem]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertOrderItem]
    @OrderID INT,
    @MenuItemID INT,
    @Quantity INT,
    @Subtotal DECIMAL(10, 2)
AS
BEGIN
    INSERT INTO OrderItem (OrderID, MenuItemID, Quantity, Subtotal)
    VALUES (@OrderID, @MenuItemID, @Quantity, @Subtotal)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertPayment]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPayment]
    @OrderID INT,
    @Amount DECIMAL(10, 2),
    @PaymentDate DATE,
    @PaymentMethod VARCHAR(25)
AS
BEGIN
    INSERT INTO Payment (OrderID, Amount, PaymentDate, PaymentMethod)
    VALUES (@OrderID, @Amount, @PaymentDate, @PaymentMethod)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertPromotionCoupon]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPromotionCoupon]
    @CouponCode VARCHAR(25),
    @Discount DECIMAL(5, 2),
    @ExpiryDate DATE
AS
BEGIN
    INSERT INTO PromotionCoupon (CouponCode, Discount, ExpiryDate)
    VALUES (@CouponCode, @Discount, @ExpiryDate)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertRestaurant]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertRestaurant]
    @Name VARCHAR(25),
    @Address VARCHAR(50),
    @City VARCHAR(25),
    @ContactInformation VARCHAR(25),
    @OpeningTime TIME,
    @ClosingTime TIME
AS
BEGIN
    INSERT INTO Restaurant (Name, Address, City, ContactInformation, OpeningTime, ClosingTime)
    VALUES (@Name, @Address, @City, @ContactInformation, @OpeningTime, @ClosingTime)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
    @Name VARCHAR(20),
    @Password VARCHAR(20),
    @Email VARCHAR(25),
    @PhoneNo VARCHAR(20),
    @DateOfBirth DATE,
    @RegistrationDate DATE
AS
BEGIN
    INSERT INTO [User] (Name, Password, Email, PhoneNo, DateOfBirth, RegistrationDate)
    VALUES (@Name, @Password, @Email, @PhoneNo, @DateOfBirth, @RegistrationDate)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUserAddress]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserAddress]
    @Email VARCHAR(25),
    @AddressID INT,
    @isDefault BIT
AS
BEGIN
    INSERT INTO UserAddress (Email, AddressID, isDefault)
    VALUES (@Email, @AddressID, @isDefault)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertVehicle]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertVehicle]
    @VehicleType VARCHAR(20),
    @LicensePlate VARCHAR(7),
    @Model VARCHAR(4)
AS
BEGIN
    INSERT INTO Vehicle (VehicleType, LicensePlate, Model)
    VALUES (@VehicleType, @LicensePlate, @Model)
END
GO
/****** Object:  StoredProcedure [dbo].[placeItemOrder]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[placeItemOrder]
@MName varchar(25),
@Price decimal(10,2),
@Qty int,
@Subtotal decimal(10,2)
as
begin
declare @OrderID int, @MenuID int;

SELECT TOP 1 @OrderID=OrderID
FROM [Order]
ORDER BY OrderID DESC;

select @MenuID=ItemID
from MenuItem
where Name=@MName AND Price=@Price

insert into OrderItem(OrderID,MenuItemID,Quantity,Subtotal) values (@OrderID,@MenuID,@Qty,@Subtotal)
end
GO
/****** Object:  StoredProcedure [dbo].[placeOrder]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[placeOrder]
@Code varchar(25)
as
begin
if (@Code='N/A')
begin
insert into [Order](OrderDate) values (getdate())
end
else
begin
insert into [Order](OrderDate,CouponCode) values (getdate(),@Code)
end
end
GO
/****** Object:  StoredProcedure [dbo].[riderDeliverOrder]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[riderDeliverOrder]
@OrderID int, @msg varchar(30) OUTPUT
as
begin
if exists (Select StatusID from OrderStatus where StatusID=1 AND OrderID=@OrderID)
begin
Update OrderStatus set StatusID=2
where OrderID=@OrderID
set @msg='Updated!'
end
else
set @msg='Order is already delivered!'
end
GO
/****** Object:  StoredProcedure [dbo].[submitReview]    Script Date: 1/8/2024 6:04:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[submitReview]
@Email varchar(25),
@ResID int,
@OrderID int,
@Rating int,
@Comment varchar(75)
as
begin
Insert into ReviewRating(Email,RestaurantID,OrderID,Rating,Comment,RevDate) values (@Email,@ResID,@OrderID,@Rating,@Comment,getdate())
end
GO
USE [master]
GO
